:root{
    --grey: #8b8b8b;
    --offwhite: #d5d5d5;
}


*{
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    color: black;
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    color: white;
}

body{
    margin: 0;
    background-image: url("./images/offWhiteBg2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}

.displayFlex{
    /* background-color: black; */
    display: flex;
    margin: 4rem auto;
    max-width: 80%;
    min-height: 80vh;
    /* box-shadow: 0 40px -10px var(--grey); */
    box-shadow: 0 2rem 2rem grey;
}

.col1{
    width: 60%;
    background-image: url("./images/blackBg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: inherit;
    position: relative;
    padding-bottom: 1rem;
}

.col2{
    width: 40%;
    background-image: url("./images/orangeBg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: inherit;
    text-align: right;
    position: relative;
}

.imgOverlap {
    position: absolute;
    bottom: -5px;
    left: -20%;
}

.imgOverlap img{
    min-height: 90vh;
    object-fit: fill;
}

.main-section {
    padding: 0 4rem;
    position: relative;
    z-index: 10;
}

input {
    border: none;
    border-bottom: 1px solid var(--offwhite);
    background-color: transparent;
    width: 50%;
    height:20%;
    margin-bottom: 1rem;
    color: var(--offwhite);
    font-size: 1rem;
}

button {
    display: block;
    background-color: var(--offwhite);
    color: black;
    border: none;
    padding: 0.5rem 2rem;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid var(--offwhite);
}

button:hover{
    background-color: transparent;
    color: var(--offwhite);
}

.output0{
    margin-top: 2rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    background-color: #d5d5d5;  
    /* padding: 1rem; */
    /* display: none; */
    
}

.output{
    margin-top: 2rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    background-color: #d5d5d5;
    
}

label {
    font-weight: 400;
    border-bottom: 1px solid;
    color: white;
    font-size: 1rem;
    
   
}

.submit-pad{
    padding: 2rem 0rem;
}

#connect {
    width: 100%;
    min-height: 6vh;
 
}
.connect-list {
    height: inherit;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-inline-start: 1px;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    position: relative;
    
    
}

.list-item-index {
    list-style: none;
    font-size: 2rem;
    /* padding: 10rem 1rem 0rem; */
    padding: 0.5rem 1rem;
    
    
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
